
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    background-color: var(--bg);
  }

  html {
    scroll-behavior: smooth;
  }
  

  :root {
      --rose: #C83267;
      --purple: #7B4AE2;
      --bg: #090E16;
      --bgbox: #101926;
      --bgboxhover: #0B121D;
  }


a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

button:hover{
    transition: 400ms;
}

body, input, textarea, button { 
    font: 400 16px "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
    color: white !important;
    font-family: 'Raleway', sans-serif !important;
    margin-bottom: 0em !important;
}

h1 {
  font-weight: 600 !important;
  line-height: 5rem;
}

p, a, strong, button {
  font-family: 'Raleway', sans-serif !important;
}



@keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

@keyframes fadein {
    from {
      opacity: 0%;
    }
  
    to {
      opacity: 100%;
    }
  }


.container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    
}

.content {
    max-width: 1820px;
    width: 100%;
}

@media(max-width: 1920px) {
    html {
        font-size: 90.75%;
        zoom: 98%;
    }
}
